
body {
    max-width: 1200px; 
    margin: auto;
  }

.container {
    padding: 1rem;
  }

ul {
    list-style: none;
  }

img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fa-heart {
   font-size: 1.6rem;
   color: $color-logos;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3, p {
  margin: 0;  
}

h4 {
  margin: 0 0 0.3rem 0;
}

