/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body,{
    margin: auto;
    max-width: 1200px; 
  }

.container {
    padding: 1rem;
  }

ul {
      list-style: none;
  }

img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3, p {
  margin: 0;  
}

h4 {
  margin: 0 0 0.3rem 0;
}
/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */


.header {
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    box-shadow: 0 0 1rem grey;
  
    &__logo {
      margin: 0;
      text-align: center;
    }

    &--aveclogo {
      margin-bottom: 0;
    }

    &__block--aveclogo {
      display: flex;
      align-items: center; 
      justify-content: center;
      position: relative;
    
      i {
        margin-right: 5rem;
        position: absolute;
        left: 1rem;
        top : 1rem;
        color: black;
      }
    }
  }

/* ---------------------------------------- */
/* ==     SECTION 1  = Localisation   */
/*---------------------------------------- */

.localisation {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(235, 228, 228);
    
    &__logo {
        margin-right: 0,5rem;
    }

    &__texte {
        margin: 0.8rem;
        font-weight: 500;
    }
}
  
/* ---------------------------------------- */
/* ==      SECTION 2 = réservation   */
/*---------------------------------------- */

.reservation {
    text-align: center;
    background-color: $color-lightgrey;
    padding: 1rem 1rem 3.7rem 0.8rem;
     
     &__soustitre {
         font-weight: 300;
         margin: 0 0 2rem 0;
     }

     &__btn {
        color: white;
        border-radius: 2rem;
        background-color: $color-primary;
        padding: 0.8rem;
    }
 }
/* ---------------------------------------- */
/* == SECTION 3 = fonctionnement  */
/*---------------------------------------- */

.fonctionnement {

    &__block {
        padding: 0 0 0.8rem 0.4rem;
       
     @media (min-width:1200px) {
        display: flex;
        justify-content: space-around;
     }
    }

    &__bulle {
        display: flex;
        align-items: center;
        border-radius: 1.2rem;
        background-color: $color-lightgrey;
        box-shadow: 0 0.3rem 0.5rem lightgrey;
        padding: 1.5rem 1rem 1.5rem 1rem;
        margin: 0 0 1.2rem 0;

    @media (min-width:1200px) {
       width: 25%;
     }
    }

    &__nombre {
        background-color: $color-primary;
        border-radius: 100%;
        width: 1.15rem;
        text-align: center;
        color: white;
        margin: 0 1.2rem 0 -1.5rem;
        
    }
    &__logo {
        margin-right: 1.2rem;
    }
}
/* ---------------------------------------- */
/* == SECTION 4 = restaurants  */
/*---------------------------------------- */

.restaurants {
    background-color: rgb(248, 242, 242);

    &__blockimage {
        height: 160px;
        position: relative;
        }
    &__vignette {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        padding: 0.5rem;
        border-radius: 0.15rem;
        position: absolute;
        top: 0.7rem;
        right: 0.7rem;
          }

    &__bulle {
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(189, 186, 186);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width:1200px) {
        width: 45%;
        margin: auto;
        margin-bottom: 3.2rem;
      }

        &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1.5rem 0.5rem 1rem;
            color: black;
        }
        &__logo {
           font-size: 1.3rem;
        }
    }
}

.restaurants__block {
@media (min-width:1200px) {
    display: flex;
   flex-wrap: wrap;
  }
}
/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

.footer {
    background-color: #353535;

    @media (min-width:1200px) {
       text-align: center;
      }
    
    &__logoohmyfood {
      color: white;
      font-family: "Shrikhand", "cursive";
      margin: 0;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }
  
    &__liste {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &__texte {
      margin: 0.5rem 0;
    }
  
    &__lien {
      color: white;
      text-decoration: none;
    }
  
    &__logo {
      width: 1rem;
      margin-right: 0.8rem;
    }
  }

/* ---------------------------------------- */
/* ==            PAGES MENUS               */
/*---------------------------------------- */

.images__menus {
  max-height: 30rem;
}
.containermenu {
  margin-top: -4rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: $color-lightgrey;
  position: relative;
}

.menu__blocktitre {
  display: flex;
  justify-content: space-between;

  &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    margin: 1rem 1rem 0 0;
    display:flex;
    align-items:center;
    justify-content:center;

      &__logo {
        font-size: 1.6rem;
      }
  }
}

.menu__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__titre {
    padding-bottom: 0.2rem;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 1rem;
  }

  &__souligne {
      width: 3rem;
      height: 3px;
      background-color: $color-tertiary;
      margin-bottom: 0.5rem;
  }

  &__bulles {
  background-color: white;
  padding-left: 1rem;
  display: flex;
  border-radius: 1rem;
  margin: 0.5rem 0;
  box-shadow: 0 0 0.5rem lightgrey;

    &__texte {
      flex: 1;
      overflow: hidden;
      padding: 0.5rem;
    
      & h4 {
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
      }

      & p {
        font-size: 0.9rem;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  
    &__tarif {
      display: flex;
      align-items: flex-end;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
    }

    &__logovalidation {
      background-color: $color-tertiary;
      width: 3.5rem;
      display:flex;
      align-items:center;
      justify-content:center;
      border-radius: 0 1rem 1rem 0;

        &__logo {
          height: 1.3rem;
          width: 1.3rem;
          background-color: white;
          display:flex;
          align-items:center;
          justify-content:center;
          border-radius: 100%;

          &__logo {
            color: $color-tertiary;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .btncommander {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem 2.5rem 0;
    text-decoration: none;

    &__texte {
      @include button;
    }
  }
