/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */

/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body {
    max-width: 1200px; 
    margin: auto;
  }

.container {
    padding: 1rem;
  }

ul {
      list-style: none;
  }

img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}

h3, p {
  margin: 0;  
}

h4 {
  margin: 0 0 0.3rem 0;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  animation: loader;
  transform: scale(0);
  animation-duration: 3s;
  z-index: 1;
  display:flex;
  align-items:center;
  justify-content:center;


    &__cercle {
      width: 50px;
      height: 50px;
      border: 20px solid #9356DC;
      border-top: 20px solid #FF79DA;
      border-radius: 50%;
      animation: spin 3s linear infinite;
    }
  }

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
} 
/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */


.header {
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    box-shadow: 0 0 1rem grey;
  
    &__logo {
      margin: 0;
      text-align: center;
    }

    &--aveclogo {
      margin-bottom: 0;
    }

    &__block--aveclogo {
      display: flex;
      align-items: center; 
      justify-content: center;
      position: relative;
    
      i {
        margin-right: 5rem;
        position: absolute;
        left: 1rem;
        top : 1rem;
        color: black;
      }
    }
  }

/* ---------------------------------------- */
/* ==     SECTION 1  = Localisation   */
/*---------------------------------------- */

.localisation {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(235, 228, 228);
    
    &__logo {
        margin-right: 0,5rem;
    }

    &__texte {
        margin: 0.8rem;
        font-weight: 500;
    }
}
  
/* ---------------------------------------- */
/* ==      SECTION 2 = réservation   */
/*---------------------------------------- */

.reservation {
    text-align: center;
    background-color: $color-lightgrey;
    padding: 1rem 1rem 3.7rem 0.8rem;
     
     &__soustitre {
         font-weight: 300;
         margin: 0 0 2rem 0;
     }

     &__btn {
      @include button;
    }
 }
/* ---------------------------------------- */
/* == SECTION 3 = fonctionnement  */
/*---------------------------------------- */

.fonctionnement {

    &__block {
        padding: 0 0 0.8rem 0.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      
       
     @media (min-width:1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     }
    }

    &__bulle {
        display: flex;
        align-items: center;
        min-width: 300px;
        border-radius: 1.2rem;
        background-color: $color-lightgrey;
        box-shadow: 0 0.3rem 0.5rem lightgrey;
        padding: 1.5rem 1rem 1.5rem 1rem;
        margin: 0 0 1.2rem 0; 
        transition: all 100ms;

          &:hover {
            background-color: lighten($color: $color-primary, $amount: 35%);
          }

            &:hover i{
              color: $color-primary;
            }

      
        @media (min-width:1200px) {
         width: 25%;
        }
    }

    &__nombre {
        background-color: $color-primary;
        border-radius: 100%;
        width: 1.15rem;
        text-align: center;
        color: white;
        margin: 0 1.7rem 0 -1.5rem;
        
    }
    &__logo {
        margin-right: 1.7rem; 
      }
    }

/* ---------------------------------------- */
/* == SECTION 4 = restaurants  */
/*---------------------------------------- */

.restaurants {
    background-color: rgb(248, 242, 242);

    &__blockimage {
        height: 160px;
        position: relative;
        }
    &__vignette {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        padding: 0.5rem;
        border-radius: 0.15rem;
        position: absolute;
        top: 0.7rem;
        right: 0.7rem;
          }

    &__bulle {
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(189, 186, 186);
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width:600px) {
        width: 45%;
        margin: auto;
        margin-bottom: 3.2rem;
      }

        &__block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem 1.5rem 0.5rem 1rem;
            color: black;
        }
        &__logo {
           font-size: 1.3rem;
           color: $color-logos;
        }
    }
}

.restaurants__block {
  @media (min-width:600px) {
    display: flex;
   flex-wrap: wrap;
  }
}
/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */

.footer {
    background-color: #353535;

    @media (min-width:700px) {
       text-align: center;
      }

    &__logoohmyfood {
      color: white;
      font-family: "Shrikhand", "cursive";
      margin: 0;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }
  
    &__liste {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &__texte {
      margin: 0.5rem 0;
    }
  
    &__lien {
      color: white;
      text-decoration: none;
    }
  
    &__logo {
      width: 1rem;
      margin-right: 0.8rem;
    }
  }

/* ---------------------------------------- */
/* ==            PAGES MENUS               */
/*---------------------------------------- */

.images__menus {
  max-height: 30rem;
}
.containermenu {
  margin-top: -4rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: $color-lightgrey;
  position: relative;
}
.menu {
  @media (min-width:1200px) {
    display: flex;
    justify-content: space-around;
  }
}

.menu__blocktitre {
  display: flex;
  justify-content: space-between;

  &__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    margin: 1rem 1rem 0 0;
    display:flex;
    align-items:center;
    justify-content:center;

      &__logo {
        font-size: 1.6rem;
        color: $color-logos;
      }
  }
}

.menu__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  @media (min-width:1200px) {
    width: 32%;
  }
  
  &__titre {
    padding-bottom: 0.2rem;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 1rem;
  }

  &__souligne {
      width: 3rem;
      height: 3px;
      background-color: $color-tertiary;
      margin-bottom: 0.5rem;
  }

  &__bulles {
  background-color: white;
  padding-left: 1rem;
  display: flex;
  border-radius: 1rem;
  margin: 0.5rem 0;
  box-shadow: 0 0 0.5rem lightgrey;
  overflow: hidden;

    &:hover .menu__block__bulles__logovalidation {
      margin-right: 0rem;
    }

    &:hover .menu__block__bulles__logovalidation__logo{
     transform: rotate(0);
     transition-delay: 0.1s;
    }

    &--entrees {
      @include animation-menu;
    } 

    &--plats {
      @include animation-menu;
      animation-delay: 0.4s;
    } 
    
    &--desserts {
      @include animation-menu;
      animation-delay: 0.8s;
    } 

  @keyframes bullesvisibles {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

    &__texte {
      flex: 1;
      overflow: hidden;
      padding: 0.5rem;
    
      & h4 {
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
      }

      & p {
        font-size: 0.9rem;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  
    &__tarif {
      display: flex;
      align-items: flex-end;
      padding: 0.5rem 1rem 0.5rem 0.5rem;
    }

    &__logovalidation {
      background-color: $color-tertiary;
      margin: 0 -4rem 0 0rem;
      width: 4rem;
      display:flex;
      align-items:center;
      justify-content:center;
      transition-duration: 0.5s;


        &__logo {
          height: 1.3rem;
          width: 1.3rem;
          background-color: white;
          display:flex;
          align-items:center;
          justify-content:center;
          border-radius: 100%;
          transform: rotate(-200deg);
          transition: transform 0.5s;

          &__logo {
            color: $color-tertiary;
            font-size: 0.9rem;
          }
        }
      }
    }
  }

  .btncommander {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem 2.5rem 0;
    text-decoration: none;
    border: none;

    &__texte {
      @include button;
    }
  }
