@charset "UTF-8";
/* ---------------------------------------- */
/* == DÉFINITIONS DES POLICES*/
/*---------------------------------------- */
/* ---------------------------------------- */
/* == ÉLÉMENTS PRINCIPAUX */
/*---------------------------------------- */
body {
  margin: auto;
  max-width: 1200px; }

.container {
  padding: 1rem; }

ul {
  list-style: none; }

img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

a {
  text-decoration: none; }

h2 {
  font-size: 1.7rem;
  margin: 1rem 0; }

h3, p {
  margin: 0; }

h4 {
  margin: 0 0 0.3rem 0; }

/* ---------------------------------------- */
/* ==              HEADER               */
/*---------------------------------------- */
.header {
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  box-shadow: 0 0 1rem grey; }
  .header__logo {
    margin: 0;
    text-align: center; }
  .header--aveclogo {
    margin-bottom: 0; }
  .header__block--aveclogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .header__block--aveclogo i {
      margin-right: 5rem;
      position: absolute;
      left: 1rem;
      top: 1rem;
      color: black; }

/* ---------------------------------------- */
/* ==     SECTION 1  = Localisation   */
/*---------------------------------------- */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe4e4; }
  .localisation__logo {
    margin-right: 0,5rem; }
  .localisation__texte {
    margin: 0.8rem;
    font-weight: 500; }

/* ---------------------------------------- */
/* ==      SECTION 2 = réservation   */
/*---------------------------------------- */
.reservation {
  text-align: center;
  background-color: #f8f2f2;
  padding: 1rem 1rem 3.7rem 0.8rem; }
  .reservation__soustitre {
    font-weight: 300;
    margin: 0 0 2rem 0; }
  .reservation__btn {
    color: white;
    border-radius: 2rem;
    background-color: #9356DC;
    padding: 0.8rem; }

/* ---------------------------------------- */
/* == SECTION 3 = fonctionnement  */
/*---------------------------------------- */
.fonctionnement__block {
  padding: 0 0 0.8rem 0.4rem; }
  @media (min-width: 1200px) {
    .fonctionnement__block {
      display: flex;
      justify-content: space-around; } }
.fonctionnement__bulle {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  background-color: #f8f2f2;
  box-shadow: 0 0.3rem 0.5rem lightgrey;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin: 0 0 1.2rem 0; }
  @media (min-width: 1200px) {
    .fonctionnement__bulle {
      width: 25%; } }
.fonctionnement__nombre {
  background-color: #9356DC;
  border-radius: 100%;
  width: 1.15rem;
  text-align: center;
  color: white;
  margin: 0 1.2rem 0 -1.5rem; }
.fonctionnement__logo {
  margin-right: 1.2rem; }

/* ---------------------------------------- */
/* == SECTION 4 = restaurants  */
/*---------------------------------------- */
.restaurants {
  background-color: #f8f2f2; }
  .restaurants__blockimage {
    height: 160px;
    position: relative; }
  .restaurants__vignette {
    background-color: #99E2D0;
    color: #1b6150;
    padding: 0.5rem;
    border-radius: 0.15rem;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem; }
  .restaurants__bulle {
    border-radius: 1rem;
    box-shadow: 0 0 1rem #bdbaba;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    @media (min-width: 1200px) {
      .restaurants__bulle {
        width: 45%;
        margin: auto;
        margin-bottom: 3.2rem; } }
    .restaurants__bulle__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1.5rem 0.5rem 1rem;
      color: black; }
    .restaurants__bulle__logo {
      font-size: 1.3rem; }

@media (min-width: 1200px) {
  .restaurants__block {
    display: flex;
    flex-wrap: wrap; } }

/* ---------------------------------------- */
/* ==            FOOTER                 */
/*---------------------------------------- */
.footer {
  background-color: #353535; }
  @media (min-width: 1200px) {
    .footer {
      text-align: center; } }
  .footer__logoohmyfood {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.3rem;
    margin-bottom: 0.5rem; }
  .footer__liste {
    list-style: none;
    padding: 0;
    margin: 0; }
  .footer__texte {
    margin: 0.5rem 0; }
  .footer__lien {
    color: white;
    text-decoration: none; }
  .footer__logo {
    width: 1rem;
    margin-right: 0.8rem; }

/* ---------------------------------------- */
/* ==            PAGES MENUS               */
/*---------------------------------------- */
.images__menus {
  max-height: 30rem; }

.containermenu {
  margin-top: -4rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f8f2f2;
  position: relative; }

.menu__blocktitre {
  display: flex;
  justify-content: space-between; }
  .menu__blocktitre__btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    margin: 1rem 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .menu__blocktitre__btn__logo {
      font-size: 1.6rem; }

.menu__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .menu__block__titre {
    padding-bottom: 0.2rem;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 1rem; }
  .menu__block__souligne {
    width: 3rem;
    height: 3px;
    background-color: #99E2D0;
    margin-bottom: 0.5rem; }
  .menu__block__bulles {
    background-color: white;
    padding-left: 1rem;
    display: flex;
    border-radius: 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 0.5rem lightgrey; }
    .menu__block__bulles__texte {
      flex: 1;
      overflow: hidden;
      padding: 0.5rem; }
      .menu__block__bulles__texte h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .menu__block__bulles__texte p {
        font-size: 0.9rem;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .menu__block__bulles__tarif {
      display: flex;
      align-items: flex-end;
      padding: 0.5rem 1rem 0.5rem 0.5rem; }
    .menu__block__bulles__logovalidation {
      background-color: #99E2D0;
      width: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 1rem 1rem 0; }
      .menu__block__bulles__logovalidation__logo {
        height: 1.3rem;
        width: 1.3rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%; }
        .menu__block__bulles__logovalidation__logo__logo {
          color: #99E2D0;
          font-size: 0.9rem; }

.btncommander {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem 2.5rem 0;
  text-decoration: none; }
  .btncommander__texte {
    color: white;
    border-radius: 2rem;
    background-color: #9356DC;
    padding: 0.7rem 3rem;
    box-shadow: 0.25rem 0.25rem 10px grey; }

body {
  font-family: 'Roboto', sans-serif;
  color: black; }

h1, .menu__blocktitre__titre {
  font-family: "Shrikhand", "cursive"; }

/*# sourceMappingURL=style.css.map */
